/*nesting*/
.galeriaActividad {
    width: 100%;
    margin-right: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    .hijoGaleriaActividad {
        @include flex-direction-content (column, space-evenly);
        @include sizes (350px, 500px);
        background-color: $color-acentuar;
        border-radius: 10px;
        align-items: center;
        padding: 1rem;
        margin: 1rem;
        img {
            @include sizes (80%, 60%);
            object-fit: cover;
            margin-top: 1rem;
            border-radius: 10px;
        }
    }
}
@media screen and (min-width:0px) and (max-width: 768px) {
    .galeriaActividad .hijoGaleriaActividad {
        background-color: $color-galeria;
        /*margin-left: 5rem;*/
    }
}