* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    background-color: $color-primario;
}

body {
    font-family: $tipografia_general;
    background-image: radial-gradient(circle, #ffe0b2, #fdd9a4, #fad397, #f8cc89, #f5c57c);
    
}