$color-primario-oscuro: hsl(30, 100%, 48%);
$color-primario-claro: #ffe0b2;
$color-texto-primario: #212121;
$color-primario: #FF9800;
$color-acentuar: #CDDC39;
$color-img: #e9c199;
$color-footer: #bdbdbd;
$color-galeria: #f5c57c;
$tipografia_general: 'Mulish', sans-serif;
$fuente-normal: 2rem;
$fuente-pequena: 1rem;
$fuente-grande: 3rem;

/*maps*/
$fuentes: (
    light: 300,
    normal: 400,
    medium: 500,
    bold: 700
);
